body{
  background-color: whitesmoke;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.Nav{
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.Nav-list {
  list-style: none;
  text-align: center;
}

.Nav-item {
  display: inline-block;
  position: relative;
  border: 0;
  padding: 0;
}

.Nav-item a {
  text-decoration: none;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
}

.Nav-item a:hover:not(active){
  background-color: darkgray;
}